CREATE TABLE Proveedores (
    pr_id   INTEGER      NOT NULL,
    nombre  VARCHAR(100) NOT NULL,
    ciudad  VARCHAR(100),

    CONSTRAINT pk_proveedores
        PRIMARY KEY (pr_id)
);


CREATE TABLE Partes (
    pa_id   INTEGER       NOT NULL,
    nombre  VARCHAR(100) NOT NULL,
    color   VARCHAR(50),

    CONSTRAINT pk_partes
        PRIMARY KEY (pa_id)
);


CREATE TABLE Catalogo (
    pr_id   INTEGER       NOT NULL,
    pa_id   INTEGER       NOT NULL,
    costo   NUMERIC(12,2)  NOT NULL,

    CONSTRAINT pk_catalogo
        PRIMARY KEY (pr_id, pa_id),

    CONSTRAINT fk_catalogo_proveedor
        FOREIGN KEY (pr_id)
        REFERENCES Proveedores (pr_id),

    CONSTRAINT fk_catalogo_parte
        FOREIGN KEY (pa_id)
        REFERENCES Partes (pa_id)
);



-- =========================
-- PROVEEDORES
-- =========================

INSERT INTO Proveedores (pr_id, nombre, ciudad)
VALUES (1, 'Proveedor Norte', 'Buenos Aires');

INSERT INTO Proveedores (pr_id, nombre, ciudad)
VALUES (2, 'Industrial Sur', 'Rosario');

INSERT INTO Proveedores (pr_id, nombre, ciudad)
VALUES (3, 'Distribuidora Central', 'CÃ³rdoba');




-- =========================
-- PARTES
-- =========================

INSERT INTO Partes (pa_id, nombre, color)
VALUES (101, 'Tornillo', 'Gris');

INSERT INTO Partes (pa_id, nombre, color)
VALUES (102, 'Tuerca', 'Negro');

INSERT INTO Partes (pa_id, nombre, color)
VALUES (103, 'Arandela', 'Blanco');





-- =========================
-- CATALOGO
-- =========================

INSERT INTO Catalogo (pr_id, pa_id, costo)
VALUES (1, 101, 12.50);

INSERT INTO Catalogo (pr_id, pa_id, costo)
VALUES (1, 102, 8.75);

INSERT INTO Catalogo (pr_id, pa_id, costo)
VALUES (1, 104, 150.00);














